<div class="container" *ngIf="relic">
  <div class="relic-img">
    <img src="{{relic.photoUrl}}">
  </div>
  <div class="relic-content">
    <div class="header row">
      <div class="title">
        <h1>{{relic.name}}</h1>
        <h4>{{relic.title}}</h4>
      </div>
    </div>
    <div class="flexbox-wrapper">
      <div class="regular">
        <p [innerHTML]="relic.content | dompurify"></p>
      </div>
      <div class="sticky">
        <div class="images">
          <ngx-gallery [options]="galleryOptions" [images]="galleryImages"
            style="display: inline-block; margin-bottom: 20px;"></ngx-gallery>
        </div>
        <div class="author">
          <div class="author col-5">
            <h4><i class="fa fa-pencil"></i> {{relic.author}}</h4>
            <h5><i class="fa fa-calendar"></i> {{relic.created | date}}</h5>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
