<ng-container class="m-5">
    <a (click)="loadMember()" routerLink="/members/{{member.username}}">
        <div class="card">
            <h3 class="title">{{member.knownAs || member.username}}</h3>
            <img src="{{member.avatarUrl || '../../../../../assets/user.png'}}" alt="">
            <div class="circle">
                <div class="infor">
                    <p class="">{{member.address}}</p>
                </div>
              <div class="bar">
                  <div class="emptybar"></div>
                  <div class="filledbar"></div>
                </div>
            </div>
          </div>
    </a>
</ng-container>
