img.img-thumbnail {
    margin: 25px;
    width: 85%;
    height: 85%;
}

.card-body {
    padding: 0 25px;
}

.card-footer {
    margin-top: 1rem;
    background: #fff;
    border-top: none;
}

/* table */
.relic-item {
    width: 100px;
    height: 50px;
    background: red;
}
.triangle-right {
    width: 100px;
    height: 0;
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
    border-left: 23px solid red;
}