<div class="row" *ngIf="member">
    <div class="col-4">
        <div class="card">
            <img src="{{member.avatar || './assets/user.png'}}" alt="{{member.knownAs}}" class="card-img-top img-thumbnail">
            <div class="card-body">
                <div class="text-center">
                    <strong>Bút danh:</strong>
                    &nbsp;&nbsp;{{member.knownAs}}
                    <br>
                    <strong>Thành Phố:</strong>
                    &nbsp;&nbsp;{{member.address}}
                    <br>
                    <strong>Bài viết:</strong>
                    &nbsp;&nbsp;{{member.relics.length}}
                </div>
            </div>
        </div>
    </div>

    <div class="col-8">
        <tabset class="member-tabset">
            <tab heading='Giới thiệu'>
                <h1>Thông tin</h1>
                <p>{{member.bio}}</p>
            </tab>
            <tab heading='Bài viết'>
                <h1>Các bài viết</h1>
                <div class="">
                    <table>
                        <tr>
                            <th>Tên di tích</th>
                            <th>Tiêu đề</th>
                            <th></th>
                        </tr>
                        <tr *ngFor="let relic of member.relics">
                            <td style="width: 30%;">{{relic.name}}</td>
                            <td style="width: 30%;">{{relic.title}}</td>
                            <td>
                                <button class="btn btn-primary">
                                    <i class="fa fa-eye"></i>
                                </button>
                                &nbsp;
                                <button class="btn btn-primary">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                &nbsp;
                                <button class="btn btn-primary">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </tab>
        </tabset>
    </div>
</div>