<div class="row" *ngIf="member">
  <div class="col-4">
    <div class="card">
      <div class="avatar">
        <img src="{{member.avatarUrl || './assets/user.png'}}" alt="{{member.knownAs || member.username}}"
          class="card-img-top img-thumbnail">
      </div>

      <div class="card-body">
        <div class="text-center">
          <strong>Bút danh:</strong>
          &nbsp;&nbsp;{{member.knownAs}}
          <br>
          <strong>Thành Phố:</strong>
          &nbsp;&nbsp;{{member.address}}
          <br>
          <strong>Bài viết:</strong>
          &nbsp;&nbsp;{{totalRelic}}
        </div>
      </div>
    </div>
  </div>

  <div class="col-8">
    <tabset class="member-tabset" #memberTabs>
      <tab heading='Giới thiệu' (selectTab)="onTabActivated($event)">
        <h1>Thông tin</h1>
        <p>{{member.bio}}</p>
      </tab>
      <tab heading='Bài viết' (selectTab)="onTabActivated($event)">
        <app-relic-list-member [relics]="relics" [pagination]="pagination"></app-relic-list-member>
      </tab>
    </tabset>
  </div>
</div>
