<ng-container class="container">
  <div class="row" *ngIf="member">
    <div class="col-4">
      <div class="card">
        <div class="avatar">
          <img src="{{member.avatarUrl || './assets/user.png'}}" alt="{{member.knownAs || member.username}}"
            class="card-img-top img-thumbnail">
        </div>

        <div class="card-body">
          <div class="text-center">
            <strong>Bút danh:</strong>
            &nbsp;&nbsp;{{member.knownAs}}
            <br>
            <strong>Thành Phố:</strong>
            &nbsp;&nbsp;{{member.address}}
            <br>
            <strong>Bài viết:</strong>
            &nbsp;&nbsp;{{member.relics.length}}
          </div>
        </div>
      </div>
    </div>

    <div class="col-8">
      <tabset class="member-tabset">
        <tab heading='Giới thiệu'>
          <h1>Thông tin</h1>
          <p>{{member.bio}}</p>
        </tab>
        <tab heading='Bài viết'>
          <h1>Các bài viết</h1>
          <div class="relic-menu">
            <table class="table table-striped ">
              <tr class="thead-dark">
                <th>Tên di tích</th>
                <th>Tiêu đề</th>
                <th></th>
              </tr>
              <tr *ngFor="let relic of relics">
                <td style="width: 30%;">{{relic.name}}</td>
                <td style="width: 40%;">{{relic.title}}</td>
                <td>
                  <button class="btn btn-sm btn-primary" (click)="loadRelic(relic.id)">
                    <i class="fa fa-eye"></i>
                  </button>
                </td>
              </tr>
            </table>
            <!-- Pagination -->
            <div class="d-flex justify-content-center" *ngIf="pagination">
              <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems"
                [itemsPerPage]="pagination.itemsPerPage" [(ngModel)]="pagination.currentPage"
                (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
                lastText="&raquo;">
              </pagination>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</ng-container>
