<div class="row" *ngIf="member">
  <div class="col-4">
    <h1>Hồ sơ của bạn</h1>
  </div>
  <div class="col-8">
    <div class="alert alert-info" *ngIf="editForm.dirty">
      <p><strong>Information: </strong>Những thao tác bạn chưa lưu sẽ mất</p>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <img src="{{member.avatarUrl || './assets/user.png'}}" alt="{{member.knownAs || member.username}}" class="card-img-top img-thumbnail">
      <div class="card-body">
        <div class="text-center">
          <strong>Bút danh:</strong>
          &nbsp;&nbsp;{{member.knownAs}}
          <br>
          <strong>Thành Phố:</strong>
          &nbsp;&nbsp;{{member.address}}
          <br>
          <strong>Bài viết:</strong>
          &nbsp;&nbsp;{{totalRelic}}
        </div>
      </div>
      <div class="card-footer text-center">
        <button form="editForm" [disabled]="!editForm.dirty" type="submit" class="btn btn-success">Lưu thay đổi</button>
      </div>
    </div>
  </div>

  <div class="col-8">
    <tabset class="member-tabset" #memberTabs>
      <tab heading='Thông tin chung' (selectTab)="onTabActivated($event)">
        <form #editForm="ngForm" id="editForm" (ngSubmit)="updateMember()">
          <div class="form-inline" style="margin-top: 2rem;">
            <label for="knownAs"><strong>Bút danh:</strong></label>
            <input [(ngModel)]="member.knownAs" type="text" name="knownAs" class="form-control mx-2">
            <label for="knownAs"><strong>Địa chỉ:</strong></label>
            <input [(ngModel)]="member.address" type="text" name="address" class="form-control mx-2">
          </div>
          <h1 class="mt-3">Giới thiệu: </h1>
          <textarea [(ngModel)]="member.bio" class="form-control p-4" name="bio" rows="8"></textarea>
        </form>
      </tab>
      <tab heading='Thay đổi ảnh đại diện' (selectTab)="onTabActivated($event)">
        <app-avatar-editor [member]="member"></app-avatar-editor>
      </tab>
      <tab heading='Bài viết' (selectTab)="onTabActivated($event)">
        <app-member-relics-list [relics]="member.relics" [pagination]="pagination"></app-member-relics-list>
      </tab>
      <tab heading='Chờ duyệt' (selectTab)="onTabActivated($event)">
        <app-member-relics-list-unapproved [relics]="member.relics" [pagination]="pagination"></app-member-relics-list-unapproved>
      </tab>
      <tab heading='Bài viết bị từ chối' (selectTab)="onTabActivated($event)">
        <app-member-relics-list-reject [relics]="member.relics" [pagination]="pagination"></app-member-relics-list-reject>
      </tab>
    </tabset>
  </div>
</div>
