<div class="wrapper">
  <!-- Sidebar -->
  <section id="sidebar">

    <!-- Intro -->
    <section id="intro">
      <a href="#" class="logo"><img src="../../assets/images/logo.jpg" alt="" /></a>
      <header>
        <h2>DI TÍCH THỦ ĐỨC</h2>
      </header>
    </section>
    <!-- Posts List -->
    <section class="mt-4">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62694.91569675053!2d106.71814509290262!3d10.854692766965595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d85e042bf04b%3A0xbb26baec1664394d!2zVGjhu6cgxJDhu6ljLCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1624088438302!5m2!1svi!2s"
        width="100%" height="80%" style="border:1px solid #000;" allowfullscreen="" loading="lazy"></iframe>
    </section>

    <!-- About -->
    <section class="blurb mt-4">
      <h2>About</h2>
      <p>Trên mảnh đất TP.Thủ Đức hiện đại ngày nay vẫn còn lưu giữ hệ thống các di sản văn hóa độc đáo, tiêu biểu của
        TP.HCM và của cả nước.</p>
      <ul class="actions">
        <li><a routerLink='about/' class="button">Chi tiết</a></li>
      </ul>
    </section>

    <!-- Footer -->
    <section id="footer">
      <p class="copyright">&copy; Nguyễn Hoài Phong - ĐH Tài Nguyên & Môi Trường TP. HCM - 07_ĐHCNTT1
    </section>

  </section>

  <!-- Main -->
  <div id="main" class="col-8">

    <ng-container >
      <div  class="mb-4">
        <form id="searchForm" [formGroup]='searchForm' (ngSubmit)="search()" class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Di tích</mat-label>
            <input class="search" type="text" placeholder="Tìm di tích..." aria-label="Number" matInput formControlName="name" name="name"
              [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
      <span>
        <button style="display: none;" form="searchForm" type="submit" class="btn-outline-info btn-lg"><i class="fa fa-search"></i></button>
      </span>
    </ng-container>

    <!-- Post -->
    <article class="post" *ngFor="let relic of relics">
      <header>
        <div class="title">
          <h2><a routerLink='/detail/{{relic.id}}'>{{relic.name}}</a></h2>
          <p>{{relic.title}}</p>
        </div>
        <div class="meta">
          <time class="published">{{relic.created | date}}</time>
          <p class="author"><span class="name">{{relic.author}}</span></p>
        </div>
      </header>
      <a routerLink='/detail/{{relic.id}}' class="image featured">
        <img src="{{relic.photoUrl || './assets/images/pic01.jpg'}}" alt="{{relic.name}}" /></a>
      <!-- <p [innerHTML]="relic.content | dompurify"></p> -->
      <footer>
        <ul class="actions mt-4">
          <li><a routerLink='/detail/{{relic.id}}' class="button large">Xem</a></li>
        </ul>
        <ul class="stats">
          <li><i class="fa fa-eye"></i>{{relic.view}}</li>
        </ul>
      </footer>
    </article>

    <!-- Pagination -->
    <div class="d-flex justify-content-center" *ngIf="pagination">
      <pagination class="pagination" 
          [boundaryLinks]="true" 
          [totalItems]="pagination.totalItems" 
          [itemsPerPage]="pagination.itemsPerPage"
          [(ngModel)]="pagination.currentPage" 
          (pageChanged)="pageChanged($event)" 
          previousText="&lsaquo;"
          nextText="&rsaquo;" 
          firstText="&laquo;" 
          lastText="&raquo;">
      </pagination>

    </div>


  </div>


</div>
