<div class="loginFrom">
  <div id="formContent">
    <!-- title -->
    <div class="m-3">
      <h4>Đăng ký</h4>
    </div>
    <!-- Login Form -->
    <form [formGroup]='registerForm' (ngSubmit)="register()" autocomplete="off">
      <app-text-input [formControl]='registerForm.controls["username"]' [label]='"Tài khoản"'></app-text-input>
      <app-text-input [formControl]='registerForm.controls["password"]' [label]='"Mật khẩu"' [type]='"password"'></app-text-input>
      <app-text-input [formControl]='registerForm.controls["confirmPassword"]' [label]='"Mật khẩu xác nhận"'[type]='"password"'></app-text-input>

      <div class="form-group mt-4" style="align-items: center;">
        <input [disabled]="registerForm.invalid" type="submit" class="d-inline" value="Đăng ký">
      </div>
    </form>

    <div id="formFooter">
      <a routerLink='/login' class="underlineHover">Đã có tài khoản</a>
    </div>

  </div>
</div>
