@import url('../../../assets/css/input.css');

.search input{
  width: 50%;
}

.search button {
  margin-right: 5px;
  padding: 13px;
}

.search button.btn-search {
  background: #F7F8F3 !important;
  color: #5fbae9;
  border: 1px solid #5fbae9;
}

.search button.btn-refresh {
  background: #F7F8F3 !important;
  color: #2C3D63;
  border: 1px solid #2C3D63;
}